

    <h1>Formularios</h1>
  
  <div>
    <h2>Productos</h2>
    <form action="productos" method="post">
      <label for="nombre">Nombre:</label><br>
      <input type="text" id="nombre" name="nombre"><br>
      <label for="imagen">Imagen:</label><br>
      <input type="text" id="imagen" name="imagen"><br>
      <label for="precio">Precio:</label><br>
      <input type="text" id="precio" name="precio"><br>
      <input type="submit" value="Enviar">
    </form>
  </div>
  <div>
    <a href="/productos">Ver productos</a>
  </div>
